.navbar--container {
    padding: 10px 5%;
    background-color: $grey-border;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.navbar__header {
    color: $white;
    font-size: 20px;
    font-weight: 700;
}